*
{
    margin: 0;
    padding: 0;
}

.header
{
    width: 1350px;
    height: 716.66px;
    background-image: url(slider/bg2.jpg);
    background-size: contain;
}

.header-top
{
    width: 1320px;
    height: 75.7px;
    margin-left: 15px;
}

.social-icon
{
    width: 146.81px;
    height: 25.7px;
    float: right;
    margin-right: 20px;
    margin-top: 25px;
}

.social-icon i
{
    color: white;
    margin-left: 17px;
    font-size: 19px;
    margin-top: 5px;
    float: left;
}

.twitter-1 i:hover
{
    color: #428bca;
    cursor: pointer;
}

.facebook i:hover
{
    color: #0862b1;
    cursor: pointer;
}

.google i:hover
{
    color: red;
    cursor: pointer;
}

.youtube i:hover
{
    color: red;
    cursor: pointer;
}

.header-bottom
{
    width: 1350px;
    height: 110px;
}

.left-bar
{
    width: 297px;
    height: 90px;
    float: left;
    background-color: #1B7B98;
}

.left-bar:hover
{
    cursor: pointer;
}

.left-bar img
{
    margin-top: -35px;
    margin-left: 15px;
}

.left-bar img:hover
{
    cursor: pointer;
}

.right-bar
{
    width: 815.58px;
    height: 90px;
    background-color: #1B7B98;
    float: right;
    opacity: 0.9;
}

.menu-1
{
    width: 80.03px;
    height: 90px;
    float: left;
    text-align: center;
    line-height: 90px;
    background-color: white;
    color: #1B7B98;
}

.menu-1:hover
{
    cursor: pointer;
}

.menu-2
{
    width: 99.64px;
    height: 90px;
    float: left;
    text-align: center;
    line-height: 90px;
    color: #fff;
}

.menu-2:hover
{
    background-color: white;
    color: #1B7B98;
    cursor: pointer;
}

.menu-3
{
    width: 84.34px;
    height: 90px;
    float: left;
    text-align: center;
    line-height: 90px;
    color: #fff;
}

.menu-3:hover
{
    background-color: white;
    color: #1B7B98;
    cursor: pointer;
}

.menu-4
{
    width: 88.48px;
    height: 90px;
    float: left;
    text-align: center;
    line-height: 90px;
    color: #fff;
}

.menu-4:hover
{
    background-color: white;
    color: #1B7B98;
    cursor: pointer;
}

.menu-5
{
    width: 99.7px;
    height: 90px;
    float: left;
    text-align: center;
    line-height: 90px;
    color: #fff;
}

.menu-5:hover
{
    background-color: white;
    color: #1B7B98;
    cursor: pointer;
}

.menu-6
{
    width: 167.34px;
    height: 90px;
    float: left;
    text-align: center;
    line-height: 90px;
    color: #fff;
}

.menu-6:hover
{
    background-color: white;
    color: #1B7B98;
    cursor: pointer;
}

.menu-7
{
    width: 101.03px;
    height: 90px;
    float: left;
    text-align: center;
    line-height: 90px;
    color: #fff;
}

.menu-7:hover
{
    background-color: white;
    color: #1B7B98;
    cursor: pointer;
}

.carousel-caption
{
    width: 718.86px;
    height: 184.61px;
    background-color: #000000;
    margin-top: 250px;
    opacity: 0.8;
    color: white;
}

.carousel-caption h2
{
    float: left;
    margin-top: 25px;
    margin-left: 50px;
    font-size: 38px;
    font-family: 'Yanone Kaffeesatz', 'sans-serif';
    font-weight: 300;
}

.carousel-caption h4
{
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 24px;
    font-family: 'Yanone Kaffeesatz', 'sans-serif';
    font-weight: 300;
}

.carousel-caption a
{
    float: left;
    font-size: 22px;
    color: #2da1c5;
    margin-top: 10px;
    margin-left: 50px;
    text-decoration: none;
}

.carousel-caption a i
{
    margin-left: 33px;
}

.carousel-caption a i:hover
{
    transition: 0.5s;
    transform: translateX(23px);
}

.explore
{
    width: 1350px;
    height: 357.7px;
    background-color: #C34C39;
    background-image: url(event-bg.jpg);
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.l-b img
{
    margin-top: 24px;
    float: left;
}

.c-b
{
    width: 360px;
    height: 92.38px;
    float: left;
    margin-top: 151px;
    margin-left: 35px;
}

.c-b h2
{
    color: white;
    font-size: 42px;
    text-align: center;
    font-weight: 300;
    font-family: 'Yanone Kaffeesatz', 'sans-serif';
}

.countdown
{
    width: 555px;
    height: 117.7px;
    float: left;
    margin-top: 130px;
    margin-left: 31px;
}

.box-1
{
    width: 75px;
    height: 82px;
    float: left;
    margin-left: 61px;
    background-color: #45b29d;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    color: white;
    line-height: 80px;
}

.box-1 p
{
    font-size: 18px;
    margin-top: -25px;
}

.box-2
{
    width: 75px;
    height: 82px;
    float: left;
    margin-left: 44px;
    background-color: #efc94c;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    color: white;
    line-height: 80px;
}

.box-2 p
{
    font-size: 18px;
    margin-top: -25px;
}

.box-3
{
    width: 75px;
    height: 82px;
    float: left;
    margin-left: 44px;
    background-color: #e27a3f;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    color: white;
    line-height: 80px;
}

.box-3 p
{
    font-size: 18px;
    margin-top: -25px;
}

.box-4
{
    width: 75px;
    height: 82px;
    float: left;
    margin-left: 44px;
    background-color: #df5a49;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    color: white;
    line-height: 80px;
}

.box-4 p
{
    font-size: 18px;
    margin-top: -25px;
}

.event
{
    width: 1350px;
    height: 531.39px;
    background-image: url(performar-bg.jpg);
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #33888F;
}

.guitar img
{
    margin-left: 12px;
}

.event-info
{
    float: left;
    margin-left: 105px;
    width: 877.5px;
    height: 461.39px;
}

.event-info h2
{
    font-size: 33px;
    font-weight: 300;
    margin-top: 72px;
    color: white;
}

.event-img
{
    width: 262.48px;
    height: 311.34px;
    margin-right: 30px;
    margin-top: 40px;
    float: left;
    color: white;
}

.event-img img
{
    float: left;
}

.event-img h4
{
    font-size: 22px;
    font-weight: 300;
    line-height: 60px;
}

.event-img h5
{
    font-size: 16px;
    font-weight: 100;
}

.about
{
    width: 1350px;
    height: 468.56px;
    background-color: #75B46E;
}

.guitar-2
{
    width: 674.5px;
    height: 397.45px;
    float: left;
    margin-top: 20px;
    background-image: url(guitar2.jpg);
    background-position: center;
    background-size: contain;
}

.about-content
{
    width: 674.5px;
    height: 468.56px;
    float: right;
    background-image: url(about-bg.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    color: white;
}

.about-content h2
{
    margin-top: 97px;
    margin-left: 67px;
    font-size: 36px;
}

.about-content p
{
    width: 576.5px;
    height: 121.41px;
    font-size: 17px;
    margin-left: 67px;
    margin-top: 34px;
}

.about-content input
{
    width: 164.03px;
    height: 46.56px;
    margin-left: 67px;
    margin-top: 21px;
    color: white;
    background-color: #137c61;
    border: 1px solid transparent;
}

.about-content input:hover
{
    cursor: pointer;
    background-color: #157059;
}

.twitter
{
    width: 1350px;
    height: 371.56px;
    background-color: #ecedef;
    background-image: url(twitter-bg.jpg);
    background-position: center;
    background-size: cover;
}

.twitter img
{
    float: left;
    margin-top: 16px;
}

.item-active
{
    width: 659.5px;
    height: 186.56px;
    float: left;
    margin-top: 95px;
    margin-left: 35px;
    text-align: center;
}

.item-active img
{
    width: 78px;
    height: 78px;
    border: 6px solid #c5c8ce;
    border-radius: 50%;
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: 290px;
}

.item-active p
{
    width: 800px;
    text-align: center;
    margin-top: 110px;
    color: #3D3D3D;
    font-size: 21px;
    margin-left: -60px;
}

.item-active a
{
    font-size: 21px;
    line-height: 57px;
    text-decoration: none;
    color: #00c3ff;
}

.item-active i
{
    margin: 0px 42px 0px 42px;
    color: #00c3ff;
}

.item-active i:hover
{
    cursor: pointer;
    color: #428bca;
}

.sponsers
{
    width: 1350px;
    height: 453.59px;
    background-image: url(sponsor-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sponsers h2
{
    font-size: 34px;
    float: left;
    margin-top: 90px;
    margin-left: 105px;
    color: white;
}

ul
{
    width: 945px;
    height: 274px;
    float: left;
    margin-top: 69px;
    margin-left : -507px;
    position: absolute;
}

.s1
{
    width: 314.95px;
    height: 62px;
    float: left;
    margin-top: 100px;
}


.sponsers img
{
    float: right;
    position: absolute;
    margin-left: 606px;
    margin-top: 16px;
}

.map
{
    width: 1350px;
    height: 450px;
}

.contact
{
    width: 1350px;
    height: 507.67px;
    background-color: #f7ab24;
    background-image: url(contact-bg.jpg);
    background-position: 147px;
    background-repeat: no-repeat;
}

.ear-piece
{
    width: 484px;
    height: 506px;
    float: left;
}

.contact-info
{
    width: 292.5px;
    height: 327.7px;
    float: left;
}

.contact-info h3
{
    width: 262.5px;
    height: 26.39px;
    margin-top: 66px;
    font-size: 24px;
    color: #373737;
}

.contact-info address
{
    margin-top: 20px;
    font-size: 18px;
    font-style: unset;
    color: #373737;
}

.contact-section
{
    width: 457.5px;
    height: 350px;
    float: left;
    margin-top: 66px;
    color: #373737;
}

.contact-section h3
{
    font-size: 24px;
}

.c input
{
    width: 457.5px;
    height: 44px;
    margin-top: 17px;
}

.c textarea
{
    width: 457.5px;
    height: 90px;
    margin-top: 17px;
}

.c input::placeholder
{
    float: left;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 12px;
    color: #797979;
}

.c textarea::placeholder
{
    float: left;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 7px;
    color: #797979;
}

.form-control
{
    float: right;
    width: 119.8px;
    height: 46.28px;
    margin-top: 20px;
    color: #f7ab24;
    background-color: #373737;
    font-size: 24px;
    border: 1px solid transparent;
}

.form-control:hover
{
    cursor: pointer;
    color: white;
    background-color: rgb(46, 46, 46);
}

.footer 
{
    width: 1350px;
    height: 137.13px;
    background-color: #212121;
    background-image: url(footer-bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 20px;
    color: white;
}

.footer p
{
    width: 460px;
    margin-top: 37px;
    margin-left: 472px;
    float: left;
}

.footer a
{
    color: #f7ab24;
    text-decoration: none;
}

.footer a:hover
{
    color: #428bca;
}